.search-container {
  border-left: 1px solid #f3f3f7;
  border-bottom: 1px solid #f3f3f7;
}
.book-card {
    margin-bottom: 10px;
}
ul {
    padding-inline-start: 0px;
}
.card-footer {
    text-align: center;
}
.search-results-container {
    margin-top: 10px;
}
.no-href-button {
    color: white !important;
}
.form-control-buttons {
    width: 100%;
    margin-top: 1rem;
}
.add-button {
    text-align: end;
}
@media screen and (max-width: 767px) {
    .remove-button {
        text-align: end;
    }
    .add-button {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}
.admin-image {
    max-height: 190px;
}
.admin-add-content-container {
    background-color: #ffffff;
    margin-top: 20px;
}
.admin-add-content {
    padding: 30px;
}
.form-group div p {
    margin: 0;
}
.search-results-container {
  margin-top: 10px;
  overflow-y: auto;
}