body {
  padding-top: 56px;
}
.book-jumbotron {
  margin-top: 2rem;
  background-color: white;
}
.book-detail-image {
  max-width: 250px;
  max-height: 400px;
}
.book-card {
  text-align: left;
}
.bookDescription {
  text-align: left;
}