body {
  background: #f9f9fb;
}
.view-account {
  background: #FFFFFF;
  margin-top: 20px;
}
.view-account .side-bar {
  padding-bottom: 30px
}
.view-account .side-bar .user-info {
  text-align: center;
  margin-bottom: 15px;
  padding: 30px;
  color: #616670;
  border-bottom: 1px solid #f3f3f3
}
.view-account .side-bar .user-info .img-profile {
  width: 120px;
  height: 120px;
  margin-bottom: 15px
}
.view-account .side-bar .user-info .meta li {
  margin-bottom: 10px
}
.view-account .side-bar .user-info .meta li a {
  color: #616670
}
.view-account .side-bar .side-menu {
  text-align: center
}
.view-account .side-bar .side-menu .nav {
  display: inline-block;
  margin: 0 auto
}
.view-account .side-bar .side-menu .nav>li {
  font-size: 14px;
  margin-bottom: 0;
  border-bottom: none;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px
}
.view-account .side-bar .side-menu .nav>li>a {
  display: inline-block;
  color: #9499a3;
  padding: 5px;
  border-bottom: 2px solid transparent
}
.view-account .side-bar .side-menu .nav>li>a:hover {
  color: #616670;
  background: none
}
.view-account .side-bar .side-menu .nav>li.active a {
  color: #40babd;
  border-bottom: 2px solid #40babd;
  background: none;
  border-right: none
}
.view-account .content-panel {
  padding: 30px
}
.view-account .content-panel .fieldset-title {
  padding-bottom: 15px;
  border-bottom: 1px solid #eaeaf1;
  margin-bottom: 30px;
  color: #616670;
  font-size: 16px
}
.view-account .content-panel .avatar .figure img {
  float: right;
  width: 64px
}
@media (max-width:767px) {
  .view-account .side-bar .user-info {
    padding: 0
  }
  .view-account .side-bar .user-info .img-profile {
    width: 60px;
    height: 60px
  }
  .view-account .side-bar .user-info .meta li {
    margin-bottom: 5px
  }
  .view-account .content-panel {
    padding: 0
  }
  .view-account .content-panel .avatar .figure img {
    float: none;
    margin-bottom: 15px
  }
}
@media (min-width:768px) {
  .view-account .side-bar .user-info {
    padding: 0;
    padding-bottom: 15px
  }
}
@media (min-width:992px) {
  .view-account .content-panel {
    min-height: 800px;
    border-left: 1px solid #f3f3f7;
    margin-left: 200px
  }
  .view-account .side-bar {
    position: absolute;
    width: 200px;
    min-height: 600px
  }
  .view-account .side-bar .user-info {
    margin-bottom: 0;
    border-bottom: none;
    padding-top: 30px
  }
  .view-account .side-bar .user-info .img-profile {
    width: 120px;
    height: 120px
  }
  .view-account .side-bar .side-menu {
    text-align: left
  }
  .view-account .side-bar .side-menu .nav {
    display: block
  }
  .view-account .side-bar .side-menu .nav>li {
    display: block;
    float: none;
    font-size: 14px;
    border-bottom: 1px solid #f3f3f7;
    margin-right: 0;
    margin-bottom: 0
  }
  .view-account .side-bar .side-menu .nav>li>a {
    display: block;
    color: #9499a3;
    padding: 10px 15px;
    padding-left: 30px
  }
  .view-account .side-bar .side-menu .nav>li>a:hover {
    background: #f9f9fb
  }
  .view-account .side-bar .side-menu .nav>li.active a {
    background: #f9f9fb;
    border-right: 4px solid #40babd;
    border-bottom: none
  }
}
.dont-break-out {
  overflow-wrap: break-word;
}
.sign-out-btn {
  margin-left: 1rem;
  margin-bottom: 1rem;
}