@import url('http://fonts.googleapis.com/css?family=Oswald:300,400:latin,latin-ext');
ul {
  list-style: none;
}
blockquote {
  margin: 0rem 4rem 0rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
.searchBox {
  height: 40px;
  border-radius: 40px;
}
.searchBox:hover>.searchInput {
  width: 100px;
  padding: 0 6px;
}
.searchBox:hover>.searchButton {
  background: white;
  color: #2f3640;
}
.searchResult {
  visibility: hidden;
  position: absolute;
  display: grid;
  margin-top: 40px;
  max-height: 200px;
  overflow: auto;
}
.searchBox:hover>.searchResult {
  visibility: visible;
}
.searchResult:hover {
  visibility: visible;
}
.searchLink {
  font-style: italic;
  background: #e9ecef;
  color: black;
  font-size: 13px;
  border-style: solid;
  border-width: 1px;
  padding-right: 5px;
  margin-bottom: -10px;
}
.searchLink:hover {
  text-decoration: underline;
  color: black;
}
.searchButton {
  color: white;
  float: right;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  padding-left: 30px;
}
@media screen and (max-width: 620px) {
  .searchBox:hover>.searchInput {
    width: 150px;
    padding: 0 6px;
  }
}
.horizontal-scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.horizontal-container {
  padding: 0.25rem;
  display: inline-block;
}
.vertical-scrolling-wrapper {
  overflow-x: hidden;
  overflow-y: scroll;
}
.vertical-container {
  display: list-item;
  list-style: none;
}
.full-width {
  width: 100%;
}
.searched-book-result {
  font-style: italic;
  background: #e7e8eb;
  color: #000000;
  font-size: 13px;
  border-style: solid;
  border-width: 1px;
  padding-right: 5px;
  margin-bottom: -10px;
  margin-top: 5px;
}
.searched-book-result:hover {
  background: #ffffff;
}
.maximum-width {
  max-width: 100%;
}
.margin-top-10 {
  margin-top: 10px;
}
.jumbotron {
  background-color: #E5E5E5;
}
.book-image {
  margin-left: 0;
  margin-right: 0;
  padding-top: 5px;
}
@media (max-width:767px) {
  .book-image {
    max-height: 100px;
    max-width: 100px;
  }
  .sm-remove-button {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    font-size: small;
  }
  .update-book-ref {
    max-width: 70px;
  }
  .portrait {
    max-height: 100px;
    max-width: 100px;
    align-self: center;
  }
}
@media (min-width:768px) {
  .book-image {
    max-height: 200px;
    max-width: 200px;
  }
  .update-book-ref {
    max-width: 130px;
  }
  .portrait {
    max-height: 300px;
    max-width: 300px;
    align-self: center;
  }
}
@media (min-width:992px) {
  .book-image {
    max-height: 250px;
    max-width: 250px;
  }
  .update-book-ref {
    max-width: 220px;
  }
  .portrait {
    max-height: 400px;
    max-width: 400px;
    align-self: center;
  }
}
.form-group.required .control-label:after { 
  content:"*";
  color:red;
}
.padding-10 {
  padding: 10px;
}
.book-detail-image {
  max-width: 250px;
  max-height: 400px;
}
.text-align-left {
  text-align: left;
}
.search-results-container-admin {
  max-height: 5rem;
  overflow-y: auto;
}
.reference-buttons {
  text-align: -webkit-right;
}