/* override bootstrap styles */
@import url('http://fonts.googleapis.com/css?family=Oswald:300,400:latin,latin-ext');

ul {
  list-style: upper-roman;
}
blockquote {
  margin: 0rem 4rem 0rem; 
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}